.footer {
  background: #2f303a;
  padding: 60px 0;
}
.footer .container {
  text-align: center;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include desktop {
    text-align: left;
  }
}
.footer__text {
  @include tablet {
    margin-right: 165px;
  }
  @include desktop {
    margin-right: 70px;
    margin-bottom: 0;
  }
  margin-bottom: 60px;
}
.footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 8px;
  @include desktop {
    margin-bottom: 9px;
  }
}
