.footer {
  background: #2f303a;
  padding: 60px 0;
}
footer .container {
  display: flex;
}
.footer__text {
  margin-right: 70px;
}
.footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 9px;
}
.soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.soc__wrap {
  margin-top: 12px;
}
