.hero {
  background-color: #2f303a;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  max-width: 696px;

  margin-left: 237px;
  margin-bottom: var(--tipical-margin-2);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
