.soc {
  display: flex;
}
.soc__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.soc__wrap {
  margin-top: 12px;
}
.soc__link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  &:hover,
  &:focus {
    background-color: var(--active-link-color);
    color: #ffffff;
  }
}
.soc__item + .soc__item {
  margin-left: 10px;
}
.soc__icon {
  fill: currentColor;
}
.our-team__soc {
  justify-content: center;
}
.soc__link--dark {
  color: #afb1b8;
}
.soc__link--light {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__soc {
  justify-content: center;
  margin-bottom: 60px;
  @include desktop {
    margin-right: 93px;
    margin-bottom: 0;
  }
}
