:root {
  --selected-page-color: #2196f3;
  --main-color: #757575;
  --active-link-color: #2196f3;
  --logo-font: 'Raleway', sans-serif;
  --tipical-margin-1: 50px;
  --tipical-margin-2: 30px;
  --tipical-padding: 0;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
